# Config files
development.ini
production.ini
scripts/config.ini

# Root level scripts
/*.sh

# Python files
__pycache__/
*.py[cod]
*.egg
*.egg-info

# Environment
env/
venc/

# Generated assets
generated/

# Scripts cache
scripts/cache

# OS files
.DS_Store
