/*!
 *  Lato 2.015 by Łukasz Dziedzic - http://www.latofonts.com/
 *  License - SIL OFL 1.1 (http://scripts.sil.org/OFL)
 */

@font-face {
    font-family: 'Lato';
    src: url('../../static/fonts/lato/Lato-Bold.eot'); /* IE9 Compat Modes */
    src: url('../../static/fonts/lato/Lato-Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../../static/fonts/lato/Lato-Bold.woff2') format('woff2'), /* Modern Browsers */
         url('../../static/fonts/lato/Lato-Bold.woff') format('woff'), /* Modern Browsers */
         url('../../static/fonts/lato/Lato-Bold.ttf') format('truetype');
    font-style: normal;
    font-weight: 700;
}

@font-face {
    font-family: 'Lato';
    src: url('../../static/fonts/lato/Lato-BoldItalic.eot'); /* IE9 Compat Modes */
    src: url('../../static/fonts/lato/Lato-BoldItalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../../static/fonts/lato/Lato-BoldItalic.woff2') format('woff2'), /* Modern Browsers */
         url('../../static/fonts/lato/Lato-BoldItalic.woff') format('woff'), /* Modern Browsers */
         url('../../static/fonts/lato/Lato-BoldItalic.ttf') format('truetype');
    font-style: italic;
    font-weight: 700;
}

@font-face {
    font-family: 'Lato';
    src: url('../../static/fonts/lato/Lato-Italic.eot'); /* IE9 Compat Modes */
    src: url('../../static/fonts/lato/Lato-Italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../../static/fonts/lato/Lato-Italic.woff2') format('woff2'), /* Modern Browsers */
         url('../../static/fonts/lato/Lato-Italic.woff') format('woff'), /* Modern Browsers */
         url('../../static/fonts/lato/Lato-Italic.ttf') format('truetype');
    font-style: italic;
    font-weight: 400;
}

@font-face {
    font-family: 'Lato';
    src: url('../../static/fonts/lato/Lato-Regular.eot'); /* IE9 Compat Modes */
    src: url('../../static/fonts/lato/Lato-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../../static/fonts/lato/Lato-Regular.woff2') format('woff2'), /* Modern Browsers */
         url('../../static/fonts/lato/Lato-Regular.woff') format('woff'), /* Modern Browsers */
         url('../../static/fonts/lato/Lato-Regular.ttf') format('truetype');
    font-style: normal;
    font-weight: 400;
}
