html {
  box-sizing: border-box;
  height: 100%;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0px;
  color: #212121;
  background-color: #ccc;
  font-family: 'Lato Latin', 'Lato', sans-serif;
  min-height: 100%;
  position: relative;
}

#page {
  min-width: 640px;
  max-width: 1000px;
  margin: 20px auto;
}

th {
  padding: 10px;
}

td {
  padding: 10px;
}

table {
  border-collapse: collapse;
  background-color: #e1e1e1;
  width: 100%;
}

.shadow {
  box-shadow: 0 1px 5px rgba(0,0,0,.15);
}

a, a:hover, a:focus {
  text-decoration: underline;
  color: inherit;
}

a.no-underline, a.no-underline:hover, a.no-underline:focus {
  text-decoration: none;
}

a.hoveronly, a.hoveronly:focus {
  text-decoration: none;
}

a.hoveronly:hover {
  text-decoration: underline
}

a.hoverlight:hover {
  color: white;
}

.row {
  display: table-row;
}

.row > * {
  display: table-cell;
  vertical-align: top;
}

header {
  background-color: #212121;
  border-bottom: 1px solid black;
}

#header-content {
  min-width: 640px;
  max-width: 1000px;
  margin: 0px auto;
  color: #ccc;
  height: 49px;
  font-size: 1.1rem;
}

.header-item {
  padding: 0px 10px;
  vertical-align: middle;
}

#header-logo-cell {
  font-size: 0px;
  padding-right: 10px;
  box-sizing: content-box;
  width: 48px;
  height: 48px;
  text-align: center;
  vertical-align: middle;
}

#header-logo {
  width: 40px;
  height: 40px;
}

body:after {
  content: '';
  display: block;
  height: 48px;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 49px;
  background-color: #212121;
  border-top: 1px solid black;
  color: #ccc;
}

#footer-content {
  min-width: 640px;
  max-width: 1000px;
  margin: 0px auto;
  color: #ccc;
  line-height: 48px;
}

.footer-right {
  position: relative;
  z-index: 2;
  text-align: right;
}

.footer-center {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
}

.rowborder tr {
  border: 1px solid #c5c5c5;
}

.cellborder th, .cellborder td {
  border: 1px solid #c5c5c5;
}

.textbox {
  background-color: #e1e1e1;
  padding: 10px;
}

.textbox p:first-child {
  margin-top: 0px;
}

.textbox p:last-child {
  margin-bottom: 0px;
}

.nobreak {
  white-space: nowrap;
}
