#page > div, .tab > * {
  margin-bottom: 30px;
}

#info-container {
  display: flex;
}

#info-container-left {
  flex-grow: 1;
  margin-right: 30px;
}

#info-container-right {
  width: 30%;
}

#store-button {
  margin: 20px 0;
  display: block;
}

#product-logo {
  width: 100%;
  background-color: #e1e1e1;
}

#chart-container {
  height: 300px;
  background-color: #e1e1e1;
}

.force-overflow {
  width: 100%;
  display: block;
  white-space: nowrap;
  margin-right: -1000px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.table-prop {
  white-space: nowrap;
  width: 1%;
}

#tabs-container {
  display: flex;
  text-align: center;
  font-size: 18px;
  background-color: #e1e1e1;
}

.tabs-item {
  padding: 8px 0px;
  flex: 1 1 0;
}

.tabs-item:hover {
  background-color: #d5d5d5
}

.tabs-item:focus {
  outline: 0px;
}

.tabs-item-selected {
  padding-bottom: 4px;
  border-bottom: 4px solid #f18e00;
}

.btn-gog {
  background: linear-gradient(to bottom, #9fbf00, #80ab00);
  box-shadow: 0 0 0 1px rgba(0,0,0,.25),0 1px 3px rgba(0,0,0,.3);
  color: #fff;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  line-height: 36px;
  border-radius: 3px;
  border: none;
}

.btn-gog:focus {
  color: #fff;
  text-decoration: none;
  outline: 0px;
}

.btn-gog:hover {
  background: linear-gradient(to bottom, #acce00, #8bba00);
  color: #fff;
  text-decoration: none;
}
