.col-thumb {
  width: 1%;
  height: 60px;
  padding: 0px;
  font-size: 0px;
}

.col-id {
  width: 1%;
  text-align: right;
}

.col-type {
  width: 100px;
  text-align: center;
}

.col-os {
  width: 100px;
  text-align: center;
}

.img-thumb {
  height: 60px;
  width: auto;
}

.prod-unlisted {
  font-style: italic;
}

.page-link {
  padding: 10px;
}

.deactivated {
  opacity: 0.5;
}

#product-search {
  margin-bottom: 30px;
  display: flex;
  flex-wrap: wrap;
  column-gap: 80px;
}

#product-search .search-bar {
  height: 40px;
  margin-bottom: 5px;
  font-size: 20px;
  border-radius: 2px;
  border: 1px solid #c5c5c5;
  background-color: white;
  flex-basis: 100%;
}

#product-search .search-bar:focus-within {
  box-shadow: 0 1px 5px rgba(46,23,143,.5);
}

#product-search-button {
  width: 38px;
}
