.tab > * {
  margin-bottom: 30px;
}

#info-container {
  display: flex;
}

#info-container-left {
  flex-grow: 1;
  margin-right: 30px;
}

#info-container-right {
  width: 30%;
}

#store-button {
  margin: 20px 0;
  display: block;
}

#product-logo {
  width: 100%;
  height: auto;
  background-color: #e1e1e1;
}

#chart-container {
  position: relative;
}

.chart-object {
  display: block;
}

.tooltip {
  display: none;
  border: 1px solid #f18e00;
  border-radius: 2px;
  padding: 10px;
  position: absolute;
  top: 0px;
  left: 0px;
  pointer-events: none;
  background: #eee;
}

.tooltip-date {
  font-size: 14px;
}

.tooltip-price {
  font-size: 16px;
}

.force-overflow {
  width: 100%;
  display: block;
  white-space: nowrap;
  margin-right: -1000px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.table-prop {
  white-space: nowrap;
  width: 1%;
}

#screen-container, #video-container {
  display: flex;
  flex-wrap: wrap;
  font-size: 0px;
  justify-content: center;
}

.screen-item, .video-item {
  flex: 1 1 0;
  box-shadow: 0 1px 5px rgba(0,0,0,.5);
}

.screen-thumb, .video-thumb {
  width: 100%;
  height: auto;
}

#screen-container {
  margin: -5px -5px 25px -5px;
}

.screen-item {
  margin: 5px;
  max-width: 220px;
  min-width: 180px;
}

#video-container {
  margin: -10px -10px 20px -10px
}

.video-item {
  margin: 10px;
  max-width: 320px;
  min-width: 200px;
}

.build-version {
  line-break: anywhere;
}

#tabs-container {
  display: flex;
  text-align: center;
  font-size: 18px;
  background-color: #e1e1e1;
}

.tabs-item {
  padding: 8px 0px;
  flex: 1 1 0;
}

.tabs-item:hover {
  background-color: #d5d5d5
}

.tabs-item:focus {
  outline: 0px;
}

.tabs-item-selected {
  padding-bottom: 4px;
  border-bottom: 4px solid #f18e00;
}

.btn-gog {
  background: linear-gradient(to bottom, #9fbf00, #80ab00);
  box-shadow: 0 0 0 1px rgba(0,0,0,.25),0 1px 3px rgba(0,0,0,.3);
  color: #fff;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  line-height: 36px;
  border-radius: 3px;
  border: none;
}

.btn-gog:focus {
  color: #fff;
  text-decoration: none;
  outline: 0px;
}

.btn-gog:hover {
  background: linear-gradient(to bottom, #acce00, #8bba00);
  color: #fff;
  text-decoration: none;
}
