<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ title }} - GOG Database Beta</title>
    <meta property="og:type" content="website">
    <meta property="og:site_name" content="GOG Database">
    <meta property="og:title" content="{{ title }}">
    <link rel="shortcut icon" href="{{ request.static_path('gogdb_site:static/img/favicon.ico') }}">
    {% assets "css-all", "fonts-all" %}
    <link rel="stylesheet" href="{{ ASSET_URL }}">
    {% endassets %}
    {% block js %}
    <!-- Fix FOUC in Firefox -->
    <script>;</script>
    {% endblock %}
  </head>
  <body>
    <header class="shadow">
      <div id="header-content">
        <div class="row">
          <span id="header-logo-cell">
            <img id="header-logo" src="{{ request.static_path('gogdb_site:static/img/gogdb.svg') }}">
          </span>
          <span class="header-item">
            <a href="{{ request.route_path('index') }}" class="no-underline">Home</a>
          </span>
          <span class="header-item">
            <a href="{{ request.route_path('product_list') }}" class="no-underline">Products</a>
          </span>
        </div>
      </div>
    </header>
    <div id="page">
      {% block content %}
      {% endblock %}
    </div>
    <footer>
      <span id="footer-content">
        GOG Database is not affiliated with GOG or CD Projekt.
      </span>
    </footer>
  </body>
</html>
