{% extends "base.html" %}

{% set title %}Home{% endset %}

{% block content %}
<h1>GOG Database</h1>

<div class="textbox shadow">
  <p>
    Welcome to the GOG Database, a third-party website that collects data on
    GOG games and tries to display it in a user-friendly manner. It's currently
    in beta state, because a lot of planned functionality is still missing.
  </p>

  <p>
    To get started visit the
    <a href="{{ request.route_path('product_list') }}">products site</a>
    and search for a game. Click on the name or ID to go to its info page.
  </p>

  <p>
    If you found bugs or want to request a feature, you can contact me on
    <a href="https://freenode.net/">freenode IRC</a> (Yepoleb),
    <a href="https://discordapp.com/">Discord</a> (Yepoleb#6459),
    <a href="https://steamcommunity.com/id/yepoleb">Steam</a> or
    <a href="https://www.gog.com/u/Yepoleb/chat">GOG</a> (slowest option because
    they still don't have a Linux client).
  </p>
</div>
{% endblock content %}
