{% extends "base.html" %}

{% set title %}Products{% endset %}

{% block content %}
<h1>{{ title }}</h1>
<form id="product-search" class="shadow" action="{{ request.route_path('product_list') }}">
  <div id="search-row" class="row">
  <span id="search-bar-cell">
    <input id="search-bar" class="shadow" type="search" name="search" placeholder="Search..." value="{{ search }}" autofocus>
  </span>
  <span id="search-button-cell">
    <button id="search-button" type="submit"><i class="fa fa-search" aria-hidden="true"></i></button>
  </span>
  </div>
</form>
<table id="product-table" class="shadow rowborder">
  <tr>
    <th></th>
    <th>ID</th>
    <th>Name</th>
    <th>Type</th>
    <th>Systems</th>
  </tr>
  {% for product in products %}
  <tr>
    <td class="col-thumb">
      <a href="{{ request.route_path('product_info', product=product.id) }}">
        <img class="game-logo" src="https://images.gog.com/{{ product.image_logo }}_196.jpg" alt="">
      </a>
    </td>
    <td class="col-id">
      <a href="{{ request.route_path('product_info', product=product.id) }}" class="hoveronly">
        {{ product.id }}
      </a>
    </td>
    <td class="col-name">
      <a href="{{ request.route_path('product_info', product=product.id) }}" class="hoveronly">
        {{ product.title }}
      </a>
    </td>
    <td class="col-type">{{ product.product_type_name }}</td>
    <td class="col-os">{{ product.systems | os_icons }}</td>
  </tr>
  {% endfor %}
</table>

{% include "pagination.html" %}

{% endblock content %}
