<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ title }} - GOG Database</title>
    <meta property="og:type" content="website">
    <meta property="og:site_name" content="GOG Database">
    <meta property="og:title" content="{{ title }}">
    {% for size in [16, 32, 48, 64, 128, 256] %}
    <link rel="icon" sizes="{{ "{0}x{0}".format(size) }}" href="{{ asset_url('img/sizes/gogdb_{0}x{0}.png'.format(size)) }}" type="image/png">
    {% endfor %}
    <link rel="icon" sizes="any" href="{{ asset_url('img/gogdb.svg') }}" type="image/svg+xml">
    <link rel="apple-touch-icon" href="{{ asset_url('img/sizes/gogdb_180x180.png') }}">
    <link rel="stylesheet" href="{{ asset_url('fonts/latolatin.css') }}">
    <link rel="stylesheet" href="{{ asset_url('fonts/roboto-mono.css') }}">
    <link rel="stylesheet" href="{{ asset_url('fonts/font-awesome.css') }}">
    <link rel="stylesheet" href="{{ asset_url('css/common.css') }}">
    {% block link %}{% endblock %}
    {% block js %}{% endblock %}
  </head>
  <body>
    <header class="shadow">
      <div id="header-content">
        <img id="header-logo" class="header-item" src="{{ asset_url('img/gogdb.svg') }}" alt="">
        <span class="header-item">
          <a href="{{ url_for('index') }}" class="no-underline hoverlight">Home</a>
        </span>
        <span class="header-item">
          <a href="{{ url_for('product_list') }}" class="no-underline hoverlight">Products</a>
        </span>
        <span class="header-item">
          <a href="{{ url_for('changelog') }}" class="no-underline hoverlight">Changelog</a>
        </span>
        <span class="header-spacer"></span>
        <form id="header-search" class="header-item search-bar" action="{{ url_for('product_list') }}">
          <input id="header-search-input" class="search-input" type="search" name="search" placeholder="Search...">
          <button id="header-search-button" class="search-button" type="submit"><i class="fa fa-search" aria-hidden="true"></i><span class="nocss">Search</span></button>
        </form>
      </div>
    </header>
    <div id="page">
      {% block content %}
      {% endblock %}
    </div>
    <footer class="shadow">
      <div id="footer-content">
        <span id="disclaimer">
          GOG Database is not a product of GOG or CD Projekt.
        </span>
        <span class="footer-right">
          <a href="{{ url_for('legal') }}" class="no-underline hoverlight">Legal notice</a>
        </span>
      </div>
    </footer>
  </body>
</html>
