{% extends "base.html" %}

{% set title %}{{ product.title }} - Build {{ build.id }}{% endset %}

{% block content %}
<h1>{{ title }}</h1>

<h2>Basic Info</h2>
<div class="shadow">
  <table class="cellborder">
    <tr>
      <td>Name</td>
      <td>{{ repo.name }}</td>
    </tr>
    <tr>
      <td>Build ID</td>
      <td>{{ build.id }}</td>
    </tr>
    <tr>
      <td>Root product ID</td>
      <td>{{ repo.root_game_id | prod_anchor }}</td>
    </tr>
    <tr>
      <td>Install directory</td>
      <td class="mono">{{ repo.install_directory }}/</td>
    </tr>
    <tr>
      <td>Build pubished</td>
      <td>{{ build.date_published | datetime_minute }}</td>
    </tr>
    <tr>
      <td>Repository timestamp</td>
      <td>{{ repo.timestamp }}</td>
    </tr>
    <tr>
      <td>OS</td>
      <td>{{ build.os | os_icon }}</td>
    </tr>
    <tr>
      <td>Branch</td>
      <td>{{ build.branch | default("Not set", true) }}</td>
    </tr>
    <tr>
      <td>Version</td>
      <td>{{ build.version }}</td>
    </tr>
    <tr>
      <td>URL</td>
      <td>
        {% if build.os == "windows" %}
        <a href="https://cdn.gog.com/content-system/v1/manifests/{{ product.id }}/windows/{{ build.legacy_build_id }}/repository.json">
          https://cdn.gog.com/content-system/v1/manifests/{{ product.id }}/windows/{{ build.legacy_build_id }}/repository.json
        </a>
        {% elif build.os == "osx" %}
        <a href="https://cdn.gog.com/content-system/v1/manifests/{{ product.id }}/osx/{{ build.legacy_build_id }}/repository.json">
          https://cdn.gog.com/content-system/v1/manifests/{{ product.id }}/osx/{{ build.legacy_build_id }}/repository.json
        </a>
        {% endif %}
      </td>
    </tr>
    <tr>
      <td>Generation</td>
      <td>1</td>
    </tr>
  </table>
</div>

{% if repo.redists %}
<h2>Redistributables</h2>
<div class="shadow">
  <table class="cellborder">
    <tr>
      <th>Name</th>
      <th>Executable</th>
      <th>Arguments</th>
      <th>Target directory</th>
    </tr>
    {% for redist in repo.redists %}
    <tr>
      <td>{{ redist.redist }}</td>
      <td>{{ redist.executable | default("", True) }}</td>
      <td>{{ redist.argument | default("", True) }}</td>
      <td>{{ redist.target_dir | default("", True) }}</td>
    </tr>
    {% endfor %}
  </table>
</div>
{% endif %}

{% if repo.support_commands %}
<h2>Support Commands</h2>
<div class="shadow">
  <table class="cellborder">
    <tr>
      <th>Language</th>
      <th>Executable</th>
      <th>Product ID</th>
      <th>System</th>
    </tr>
    {% for cmd in repo.support_commands %}
    <tr>
      <td>{{ cmd.language }}</td>
      <td>{{ cmd.executable }}</td>
      <td>{{ cmd.product_id | prod_anchor }}</td>
      <td>{{ cmd.system | os_icon }}</td>
    </tr>
    {% endfor %}
  </table>
</div>
{% endif %}

<h2>Products</h2>
<div class="shadow">
  <table class="cellborder">
    <tr>
      <th>Product ID</th>
      <th>Name</th>
      <th>Dependency</th>
      <th>Standalone</th>
    </tr>
    {% for prod in repo.products %}
    <tr>
      <td>{{ prod.product_id | prod_anchor }}</td>
      <td>{{ prod.name }}</td>
      <td>{{ prod.dependency | default("", true) }}</td>
      <td>{{ prod.standalone | yes_no }}</td>
    </tr>
    {% endfor %}
  </table>
</div>

<h2>Depots</h2>
<div class="shadow">
  <table class="cellborder">
    <tr>
      <th>Languages</th>
      <th>Product IDs</th>
      <th>Size</th>
      <th>OS</th>
      <th>Manifest ID</th>
    </tr>
    {% for depot in repo.depots %}
    <tr>
      <td>{{ depot.languages | join(", ") | default("N/A", True) }}</td>
      <td>{{ depot.game_ids | join(", ") }}</td>
      {% if depot.size is not none %}
      <td>{{ depot.size | filesizeformat }}</td>
      {% else %}
      <td>N/A</td>
      {% endif %}
      <td>{{ depot.system | os_icon }}</td>
      <td class="mono"><a href="{{ url_for('manifest', manifest_id=depot.manifest_id) }}">{{ depot.manifest_id }}</a></td>
    </tr>
    {% endfor %}
  </table>
</div>

{% endblock content %}
