{% extends "base.html" %}

{% set title %}Changelog{% endset %}

{% block link %}
<link rel="alternate" type="application/atom+xml" title="Atom Feed for GOG Database" href="{{ url_for('changelog_atom') }}">
{% endblock %}

{% block content %}
<h1>{{ title }}</h1>

<div class="textbox shadow">
  Summary of all product changes, visit
  <a href="{{ url_for('changelog_ext') }}">Extended Changelog</a>
  for a detailed overview.
</div>

<table class="shadow rowborder">
  {% for summary in changes %}
  <tr>
    <td class="col-change-id">
      <a href="{{ prod_url(summary.product_id) }}#changelog">
        {{ summary.product_id }}
      </a>
    </td>
    <td class="col-change-name">
      <span class="changelog-productname">{{ summary.product_title | default("Unknown", true) }}</span>
      {% for category in summary.categories %}
      <span class="change-bubble change-bubble-{{ category }}">{{ category | capitalize }}</span>
      {% endfor %}
    </td>
    <td class="col-change-date">
      {{ summary.timestamp | datetime_day }}
    </td>
  </tr>
  {% endfor %}
</table>

{% include "pagination.html" %}

{% endblock content %}
