{% macro download_name(record) %}
  {% set download = record.product.download_by_slug(record.resource) %}
  {% if download.type == "bonus_content" %}
    <b>{{ download.type_name }}, {{ download.name }}</b>
  {% else %}
    <b>{{ download.type_name }}, {{ download.name }}, {{ download.os_name }}, {{ download.language }}</b>
  {% endif %}
{% endmacro %}

{% macro access_name(access) %}
  {{ ["Private", "Unlisted", "Public"][access] }}
{% endmacro %}

{% macro old_new(record) %}
  <span class="nobreak">{{ record.old }} ⇒ {{ record.new }}</span>
{% endmacro %}

{% macro format_record(record) %}
  {% if record.action == "add" %}
    {% if record.type == "product" %}
      Added to database
    {% elif record.type == "download" %}
      Added download - {{ download_name(record) }}
    {% elif record.type == "product.cs" %}
      Set content system compatibility - {{ record.new }}
    {% elif record.type == "product.os" %}
      Set OS compatibility - {{ record.new }}
    {% elif record.type == "product.title" %}
      Set title - {{ record.new }}
    {% elif record.type == "product.forum_slug" %}
      Set forum slug - {{ record.new }}
    {% elif record.type == "download.version" %}
      Set download version - {{ download_name(record) }} - {{ record.new }}
    {% elif record.type == "download.name" %}
      Initial download name - {{ download_name(record) }} - {{ record.new }}
    {% elif record.type == "download.total_size" %}
      Initial download size - {{ download_name(record) }} -
        {{ record.new | int | filesizeformat }}
    {% endif %}
  {% elif record.action == "del" %}
    {% if record.type == "download" %}
      Removed download - {{ download_name(record) }}
    {% endif %}
  {% elif record.action == "change" %}
    {% if record.type == "product.access" %}
      Changed access -
      <span class="nobreak">
        {{ access_name(record.old_int) }} ⇒ {{ access_name(record.new_int) }}
      </span>
    {% elif record.type == "product.cs" %}
      Changed content system compatibility - {{ old_new(record) }}
    {% elif record.type == "product.os" %}
      Changed OS compatibility - {{ old_new(record) }}
    {% elif record.type == "product.title" %}
      Changed title - {{ old_new(record) }}
    {% elif record.type == "product.forum_slug" %}
      Changed forum slug - {{ old_new(record) }}
    {% elif record.type == "download.version" %}
      Changed download version - {{ download_name(record) }} - {{ old_new(record) }}
    {% elif record.type == "download.name" %}
      Changed download name - {{ download_name(record) }} - {{ old_new(record) }}
    {% elif record.type == "download.total_size" %}
      Changed download size - {{ download_name(record) }} -
      <span class="nobreak">
        {{ record.old_int | filesizeformat }} ⇒ {{ record.new_int | filesizeformat }}
        {% set sizediff = record.new_int - record.old_int %}
        {% if sizediff >= 0 %}
          (+{{ sizediff | filesizeformat }})
        {% else %}
          (-{{ (-sizediff) | filesizeformat }})
        {% endif %}
      </span>
    {% endif %}
  {% endif %}
{% endmacro %}
