{% extends "base.html" %}

{% set title %}Home{% endset %}

{% block content %}
<h1>GOG Database</h1>

<div class="textbox shadow">
  <p>
    Welcome to the GOG Database, a third-party website that collects data on
    <a href="https://www.gog.com">GOG games</a>
    and tries to display it in a user-friendly manner. It's currently
    in beta state, because a lot of planned functionality is still missing.
  </p>

  <p>
    To get started visit the
    <a href="{{ url_for('product_list') }}">products site</a>
    and search for a game. Click on the name or ID to go to its info page.
    You can also install the <a href="/gogdb.user.js">userscript</a> to
    automatically add a GOG DB button to every store page.
  </p>

  <p>
    For technical information about this site and contact details visit the
    <a href="{{ url_for('moreinfo') }}">More Information</a> site.
  </p>
</div>

<div class="startpage-lists-grid">
  {% macro render_list(name, entries) %}
  <div class="startpage-list-group">
    <h2>{{ name }}</h2>
    <ol class="startpage-list shadow">
      {% for product in entries %}
      <li>
        <span class="startpage-entry">
          <a href="{{ prod_url(product.id) }}">
            {% if product.image_logo %}
            <img class="startpage-thumb" src="{{ product.image_logo | gog_image('_196.jpg') }}" alt="">
            {% else %}
            <img class="startpage-thumb" src="{{ url_for('static', filename='img/no_logo_1600x900.svg') }}" alt="">
            {% endif %}
          </a>
          <a href="{{ prod_url(product.id) }}" class="startpage-prodtitle hoveronly">
            {{ product.title }}
          </a>
          {% if product.discount > 0 %}
          <span class="startpage-discount">
            -{{ product.discount }}%
          </span>
          {% endif %}
        </span>
      </li>
      {% endfor %}
    </ol>
  </div>
  {% endmacro %}
  {{ render_list("Recently popular", startpage.trending) }}
  {{ render_list("On sale", startpage.sale) }}
  {{ render_list("New builds", startpage.builds) }}
  {{ render_list("Recently added", startpage.added) }}
</div>
{% endblock content %}
