{% macro download_name(download) %}
  {{ download.name }}, {{ download.os | os_name }}, {{ download.language.code }}
{% endmacro %}

{% macro property_format(prop_rec, which) %}
  {% if which == "new" %}
    {% set val = prop_rec.value_new %}
  {% else %}
    {% set val = prop_rec.value_old %}
  {% endif %}
  {% if prop_rec.property_name == "title" %}
    <code>{{ val }}</code>
  {% elif prop_rec.property_name == "comp_systems" %}
    {{ val | os_names }}
  {% elif prop_rec.property_name == "is_pre_order" %}
    {{ val | yes_no }}
  {% elif prop_rec.property_name == "changelog" %}
    <code>{{ val | striptags | truncate(40, True) }}</code>
  {% elif prop_rec.property_name == "access" %}
    "{{ ["Unavailable", "Galaxy API", "Galaxy + Store API"][val] }}"
  {% endif %}
{% endmacro %}

{% macro format_record(record) %}
  {% if record.category == "product" %}
    {% if record.action == "add" %}
      Product added to DB
    {% endif %}
  {% elif record.category == "build" %}
    {% if record.action == "add" %}
      Build added: {{ record.build_id }}
    {% endif %}
  {% elif record.category == "property" %}
    {% if record.action == "add" %}
      Property added: {{ record.property_record.property_name | property_name }}
      set to {{ property_format(record.property_record, "new") }}
    {% elif record.action == "del" %}
      Property added: {{ record.property_record.property_name | property_name }}
      removed, was {{ property_format(record.property_record, "old") }}
    {% elif record.action == "change" %}
      Property changed: {{ record.property_record.property_name | property_name }}
      changed from {{ property_format(record.property_record, "old") }}
      to {{ property_format(record.property_record, "new") }}
    {% endif %}
  {% elif record.category == "download" %}
    {% if record.download_record.dl_type == "bonus" %}
      {% if record.action == "add" %}
        Download added: <b>Bonus, {{ record.download_record.dl_new_bonus.name }}</b><br>
        Size {{ record.download_record.dl_new_bonus.total_size | filesizeformat }}
      {% elif record.action == "del" %}
        Download removed: <b>Bonus, {{ record.download_record.dl_old_bonus.name }}</b><br>
        Size {{ record.download_record.dl_old_bonus.total_size | filesizeformat }}
      {% elif record.action == "change" %}
        Download changed: <b>Bonus, {{ record.download_record.dl_new_bonus.name }}</b><br>
        Size {{ record.download_record.dl_old_bonus.total_size | filesizeformat }}
            ⇒ {{ record.download_record.dl_new_bonus.total_size | filesizeformat }}
      {% endif %}
    {% else %}
      {% if record.action == "add" %}
        Download added: <b>{{ record.download_record.dl_type | download_type }}, {{ download_name(record.download_record.dl_new_software) }}</b><br>
        Version {{ record.download_record.dl_new_software.version }},
        Size {{ record.download_record.dl_new_software.total_size | filesizeformat }}
      {% elif record.action == "del" %}
        Download removed: <b>{{ record.download_record.dl_type | download_type }}, {{ download_name(record.download_record.dl_old_software) }}</b><br>
        Version {{ record.download_record.dl_old_software.version }},
        Size {{ record.download_record.dl_old_software.total_size | filesizeformat }}
      {% elif record.action == "change" %}
        Download changed: <b>{{ record.download_record.dl_type | download_type }}, {{ download_name(record.download_record.dl_new_software) }}</b><br>
        Version {{ record.download_record.dl_old_software.version }}
            ⇒ {{ record.download_record.dl_new_software.version }},
        Size {{ record.download_record.dl_old_software.total_size | filesizeformat }}
            ⇒ {{ record.download_record.dl_new_software.total_size | filesizeformat }}
      {% endif %}
    {% endif %}
  {% endif %}
{% endmacro %}
