{% macro product_table(products) %}
<table id="product-table" class="shadow rowborder">
  <tr>
    <th></th>
    <th>ID</th>
    <th>Name</th>
    <th>Type</th>
    <th>Systems</th>
  </tr>
  {% for product in products %}
  <tr>
    <td class="col-thumb">
      <a href="{{ prod_url(product.id) }}">
        {% if product.image_logo %}
        <img class="img-thumb"
            srcset="{{ product.image_logo | gog_image('_196.webp') }},
                    {{ product.image_logo | gog_image('_392.webp') }} 2x"
            src="{{ product.image_logo | gog_image('_196.webp') }}"
            alt="" width="196" height="110">
        {% else %}
        <img class="img-thumb" src="{{ url_for('static', filename='img/no_logo_1600x900.svg') }}" alt="" width="1600" height="900">
        {% endif %}
      </a>
    </td>
    <td class="col-id">
      {{ product.id | prod_anchor }}
    </td>
    {% if product.sale_rank == 100000 %}
    <td class="col-name prod-unlisted">
    {% else %}
    <td class="col-name">
    {% endif %}
      <a href="{{ prod_url(product.id) }}" class="hoveronly">
        {{ product.title }}
      </a>
    </td>
    <td class="col-type">{{ product.type | prod_type }}</td>
    <td class="col-os">{{ product.comp_systems | os_icons }}</td>
  </tr>
  {% endfor %}
</table>
{% endmacro %}
