{% macro download_name(download) %}
  {{ download.name }}, {{ download.os | os_name }}, {{ download.language.code }}
{% endmacro %}

{% macro property_format(prop_rec, which) %}
  {% if which == "new" %}
    {% set val = prop_rec.value_new %}
  {% else %}
    {% set val = prop_rec.value_old %}
  {% endif %}
  {% if prop_rec.property_name == "title" %}
    <code>{{ val }}</code>
  {% elif prop_rec.property_name == "comp_systems" %}
    {{ val | os_names }}
  {% elif prop_rec.property_name == "is_pre_order" %}
    {{ val | yes_no }}
  {% elif prop_rec.property_name == "changelog" %}
    <code>{{ val | striptags | truncate(40, True) }}</code>
  {% elif prop_rec.property_name == "access" %}
    "{{ ["Unavailable", "Galaxy API", "Galaxy + Store API"][val] }}"
  {% endif %}
{% endmacro %}

{% macro old_new(record) %}
  <span class="nobreak">{{ record.old }} ⇒ {{ record.new }}</span>
{% endmacro %}

{% macro format_record(record) %}
  {% if record.category == "product" %}
    {% if record.action == "add" %}
      Product added to DB
    {% endif %}
  {% elif record.category == "build" %}
    {% if record.action == "add" %}
      Build added: {{ record.build_id }}
    {% endif %}
  {% elif record.category == "property" %}
    {% if record.action == "add" %}
      Property added: {{ record.property_record.property_name | property_name }}
      set to {{ property_format(record.property_record, "new") }}
    {% elif record.action == "del" %}
      Property added: {{ record.property_record.property_name | property_name }}
      removed, was {{ property_format(record.property_record, "old") }}
    {% elif record.action == "change" %}
      Property changed: {{ record.property_record.property_name | property_name }}
      changed from {{ property_format(record.property_record, "old") }}
      to {{ property_format(record.property_record, "new") }}
    {% endif %}
  {% elif record.category == "download" %}
    {% if record.download_record.dl_type == "bonus" %}
      {% if record.action == "add" %}
        Download added: <b>Bonus, {{ record.download_record.dl_new_bonus.name }}</b><br>
        Size {{ record.download_record.dl_new_bonus.total_size | filesizeformat }}
      {% elif record.action == "del" %}
        Download removed: <b>Bonus, {{ record.download_record.dl_old_bonus.name }}</b><br>
        Size {{ record.download_record.dl_old_bonus.total_size | filesizeformat }}
      {% elif record.action == "change" %}
        Download changed: <b>Bonus, {{ record.download_record.dl_new_bonus.name }}</b><br>
        <span class="nobreak">
        Size {{ record.download_record.dl_old_bonus.total_size | filesizeformat }}
            ⇒ {{ record.download_record.dl_new_bonus.total_size | filesizeformat }}
        </span>
      {% endif %}
    {% else %}
      {% if record.action == "add" %}
        Download added: <b>{{ record.download_record.dl_type | download_type }}, {{ download_name(record.download_record.dl_new_software) }}</b><br>
        Version {{ record.download_record.dl_new_software.version }},
        Size {{ record.download_record.dl_new_software.total_size | filesizeformat }}
      {% elif record.action == "del" %}
        Download removed: <b>{{ record.download_record.dl_type | download_type }}, {{ download_name(record.download_record.dl_old_software) }}</b><br>
        Version {{ record.download_record.dl_old_software.version }},
        Size {{ record.download_record.dl_old_software.total_size | filesizeformat }}
      {% elif record.action == "change" %}
        Download changed: <b>{{ record.download_record.dl_type | download_type }}, {{ download_name(record.download_record.dl_new_software) }}</b><br>
        <span class="nobreak">
        Version {{ record.download_record.dl_old_software.version }}
            ⇒ {{ record.download_record.dl_new_software.version }},
        Size {{ record.download_record.dl_old_software.total_size | filesizeformat }}
            ⇒ {{ record.download_record.dl_new_software.total_size | filesizeformat }}
        </span>
      {% endif %}
    {% endif %}
  {% endif %}


  {% if record.action == "add" %}
    {% if record.type == "product" %}
      Added to database
    {% elif record.type == "download" %}
      Added download - {{ download_name(record) }}
    {% elif record.type == "product.cs" %}
      Set content system compatibility - {{ record.new }}
    {% elif record.type == "product.os" %}
      Set OS compatibility - {{ record.new }}
    {% elif record.type == "product.title" %}
      Set title - {{ record.new }}
    {% elif record.type == "product.forum_slug" %}
      Set forum slug - {{ record.new }}
    {% elif record.type == "download.version" %}
      Set download version - {{ download_name(record) }} - {{ record.new }}
    {% elif record.type == "download.name" %}
      Initial download name - {{ download_name(record) }} - {{ record.new }}
    {% elif record.type == "download.total_size" %}
      Initial download size - {{ download_name(record) }} -
        {{ record.new | int | filesizeformat }}
    {% endif %}
  {% elif record.action == "del" %}
    {% if record.type == "download" %}
      Removed download - {{ download_name(record) }}
    {% endif %}
  {% elif record.action == "change" %}
    {% if record.type == "product.access" %}
      Changed access -
      <span class="nobreak">
        {{ access_name(record.old_int) }} ⇒ {{ access_name(record.new_int) }}
      </span>
    {% elif record.type == "product.cs" %}
      Changed content system compatibility - {{ old_new(record) }}
    {% elif record.type == "product.os" %}
      Changed OS compatibility - {{ old_new(record) }}
    {% elif record.type == "product.title" %}
      Changed title - {{ old_new(record) }}
    {% elif record.type == "product.forum_slug" %}
      Changed forum slug - {{ old_new(record) }}
    {% elif record.type == "download.version" %}
      Changed download version - {{ download_name(record) }} - {{ old_new(record) }}
    {% elif record.type == "download.name" %}
      Changed download name - {{ download_name(record) }} - {{ old_new(record) }}
    {% elif record.type == "download.total_size" %}
      Changed download size - {{ download_name(record) }} -
      <span class="nobreak">
        {{ record.old_int | filesizeformat }} ⇒ {{ record.new_int | filesizeformat }}
        {% set sizediff = record.new_int - record.old_int %}
        {% if sizediff >= 0 %}
          (+{{ sizediff | filesizeformat }})
        {% else %}
          (-{{ (-sizediff) | filesizeformat }})
        {% endif %}
      </span>
    {% endif %}
  {% endif %}
{% endmacro %}
