{% extends "base.html" %}

{% from "mod_product_table.html" import product_table %}

{% set title %}Products{% endset %}

{% block content %}
<h1>{{ title }}</h1>
<form id="product-search" class="search-bar shadow" action="{{ url_for('product_list') }}">
  <input id="product-search-input" class="search-input" class="shadow" type="search" name="search" placeholder="Search..." value="{{ search }}" autofocus>
  <button id="product-search-button" class="search-button" type="submit"><i class="fa fa-search" aria-hidden="true"></i><span class="nocss">Search</span></button>
</form>

<div id="result-container">
  {{ product_table(products) }}

  {% include "pagination.html" %}
</div>

{% endblock content %}
