{% extends "base.html" %}

{% from "mod_product_table.html" import product_table %}
{% from "mod_product_list_filter.html" import product_list_filter %}

{% set title %}Products{% endset %}

{% block link %}
<link rel="stylesheet" href="{{ asset_url('css/product_list.css') }}">
{% endblock %}

{% block content %}
<h1>{{ title }}</h1>
{{ product_list_filter(filter_config, script_nonce) }}

<div id="result-container">
  {{ product_table(products) }}

  {% include "pagination.html" %}
</div>

{% endblock content %}
