{% extends "base.html" %}

{% from "mod_changelog_format.html" import format_record %}
{% from "mod_product_table.html" import product_table %}

{% set title %}{{ product.title }}{% endset %}

{% block js %}
{% assets "js-prodinfo" %}
<script type="text/javascript" src="{{ ASSET_URL }}"></script>
{% endassets %}
<script type="application/json" id="pricehistory-json">
  {{ pricehistory | tojson | safe }}
</script>
{% endblock js %}

{% block content %}
<h1>{{ title }}</h1>
<div id="info-container">
  <div id="info-container-left">
    <table id="info-table" class="shadow cellborder">
      <tr>
        <td>Product ID</td>
        <td>{{ product.id }}</td>
      </tr>
      <tr>
        <td>Product type</td>
        <td>{{ product.type | prod_type }}</td>
      </tr>
      <tr>
        <td>API availability</td>
        <td>{{ ["Unavailable", "Galaxy API", "Galaxy + Store API"][product.access] }}</td>
      </tr>
      <tr>
        <td>In store</td>
        <td>{{ (product.sale_rank > 0) | yes_no }}</td>
      </tr>
      <tr>
        <td>Developers</td>
        <td>{{ product.developers | join(", ") | nodata }}</td>
      </tr>
      <tr>
        <td>Publisher</td>
        <td>{{ product.publisher | nodata }}</td>
      </tr>
      <tr>
        <td>Last updated</td>
        <td>{{ product.last_updated | datetime_minute | nodata }}</td>
      </tr>
    </table>
  </div>
  <div id="info-container-right">
    {% if product.image_logo %}
    <img id="product-logo" class="shadow" src="{{ product.image_logo | gog_image('_ggvgm.jpg') }}" alt="">
    {% else %}
    <img id="product-logo" class="shadow" src="{{ url_for('static', filename='img/no_logo_1600x900.svg') }}" alt="">
    {% endif %}
    {% if product.sale_rank > 0 %}
    <a id="store-button" class="btn-gog" href="{{ product.link_store | affiliate }}">
      Store Page
    </a>
    {% endif %}
  </div>
</div>

{% if product.access == 0 %}
<div class="textbox shadow">
  <strong>
    This product can't currently be accessed, so the data might be outdated!
  </strong>
</div>
{% endif %}

<div id="tabs-container" class="shadow">
  <a href="#prices" class="tabs-item no-underline">Prices</a>
  <a href="#details" class="tabs-item no-underline">Details</a>
  <a href="#references" class="tabs-item no-underline">References</a>
  <a href="#downloads" class="tabs-item no-underline">Downloads</a>
  <a href="#builds" class="tabs-item no-underline">Builds</a>
  <a href="#media" class="tabs-item no-underline">Media</a>
  <a href="#changelog" class="tabs-item no-underline">Changelog</a>
</div>

<div id="tab-prices" class="tab">
  <h2>Prices</h2>

  {% if priceframes %}
  {% if pricehistory.max > 0 %}
  <div id="chart-container">
    <canvas id="chart-canvas" class="shadow"></canvas>
  </div>
  {% endif %}
  <table class="shadow cellborder">
    <tr>
      <th>Start</th>
      <th>End</th>
      <th>Base</th>
      <th>Final</th>
      <th>Discount</th>
    </tr>
    {% for price in priceframes %}
    <tr>
      <td>{{ price.start | datetime_day }}</td>
      <td>{{ price.end | datetime_day }}</td>
      {% if price.price_base is none or price.price_final is none %}
      <td>-</td>
      <td>-</td>
      <td>-</td>
      {% else %}
      <td>${{ price.price_base }}</td>
      <td>${{ price.price_final }}</td>
      {% if price.discount > 0 %}
      <td>{{ price.discount }}%</td>
      {% else %}
      <td>-</td>
      {% endif %}
      {% endif %}
    </tr>
    {% endfor %}
  </table>
  {% endif %}
  <div class="textbox shadow">
    {% if not priceframes %}
    No price data available.
    {% endif %}
    {% if has_old_prices %}
    To view up to date price data click <a href="{{ prod_url(product.id) }}">here</a>.
    {% else %}
    To view old (pre 2019) price data click <a href="{{ prod_url(product.id) }}?old=1">here</a>.
    {% endif %}
  </div>
</div>

<div id="tab-details" class="tab">
  <h2>Details</h2>

  <table class="shadow cellborder">
    <tr>
      <td>Slug</td>
      <td>{{ product.slug }}</td>
    </tr>
    <tr>
      <td>Tags</td>
      <td>{{ product.tags | comma_attr("name") | nodata }}</td>
    </tr>
    <tr>
      <td>Features</td>
      <td>{{ product.features | comma_attr("name") | nodata }}</td>
    </tr>
    <tr>
      <td>Localizations</td>
      <td>{{ product.localizations | comma_attr("name") | nodata }}</td>
    </tr>
    {% if product.series %}
    <tr>
      <td>Series</td>
      <td>{{ product.series.name }}</td>
    </tr>
    {% endif %}
    <tr>
      <td>Is using Dosbox</td>
      <td>{{ product.is_using_dosbox | yes_no }}</td>
    </tr>
    <tr>
      <td>Supported sytems</td>
      <td>{{ product.comp_systems | os_icons }}</td>
    </tr>
    <tr>
      <td>Content system compatibility</td>
      {% if product.cs_systems %}
      <td>{{ product.cs_systems | os_icons }}</td>
      {% else %}
      <td>Incompatible</td>
      {% endif %}
    </tr>
    <tr>
      <td>Added to DB on</td>
      <td>{{ product.added_on | datetime_day | nodata }}</td>
    </tr>
  </table>

  <h2>Store Details</h2>

  <table class="shadow cellborder">
    <tr>
      <td class="table-prop">Global release date</td>
      <td>{{ product.global_date | datetime_day | nodata }}</td>
    </tr>
    <tr>
      <td class="table-prop">GOG release date</td>
      <td>{{ product.store_date | datetime_day | nodata }}</td>
    </tr>
    <tr>
      <td>Pre-order</td>
      <td>{{ product.is_pre_order | yes_no }}</td>
    </tr>
    <tr>
      <td>Is in development</td>
      <td>{{ product.is_in_development | yes_no }}</td>
    </tr>
    <tr>
      <td class="table-prop">Store link</td>
      <td>
        {% if product.sale_rank > 0 %}
        <span class="force-overflow">
          {{ product.link_store | makeanchor }}
        </span>
        {% else %}
        No data
        {% endif %}
      </td>
    </tr>
    <tr>
      <td class="table-prop">Forum link</td>
      <td>
        <span class="force-overflow">
          {{ product.link_forum | makeanchor | nodata }}
        </span>
      </td>
    </tr>
    <tr>
      <td class="table-prop">Support link</td>
      <td>
        <span class="force-overflow">
          {{ product.link_support | makeanchor | nodata }}
        </span>
      </td>
    </tr>
  </table>

  <h2>Images</h2>

  <table class="shadow cellborder">
    <tr>
      <td class="table-prop">Logo</td>
      <td>
        <span class="force-overflow">
          {{ product.image_logo | gog_image(".jpg") | makeanchor | default("", true) }}
        </span>
      </td>
    </tr>
    <tr>
      <td class="table-prop">Background</td>
      <td>
        <span class="force-overflow">
          {{ product.image_background | gog_image(".jpg") | makeanchor | default("", true) }}
        </span>
      </td>
    </tr>
    <tr>
      <td class="table-prop">Icon</td>
      <td>
        <span class="force-overflow">
          {{ product.image_icon | gog_image(".jpg") | makeanchor | default("", true) }}
        </span>
      </td>
    </tr>
    <tr>
      <td class="table-prop">Galaxy background</td>
      <td>
        <span class="force-overflow">
          {{ product.image_galaxy_background | gog_image(".jpg") | makeanchor | default("", true) }}
        </span>
      </td>
    </tr>
    <tr>
      <td class="table-prop">Boxart</td>
      <td>
        <span class="force-overflow">
          {{ product.image_boxart | gog_image(".jpg") | makeanchor | default("", true) }}
        </span>
      </td>
    </tr>
    <tr>
      <td class="table-prop">Square icon</td>
      <td>
        <span class="force-overflow">
          {{ product.image_icon_square | gog_image(".jpg") | makeanchor | default("", true) }}
        </span>
      </td>
    </tr>
  </table>

  <h2>API Links</h2>

  <table class="shadow cellborder">
    <tr>
      <td class="table-prop">Galaxy API</td>
      <td>
        <span class="force-overflow">
          {{ "https://api.gog.com/products/{}?expand=downloads,expanded_dlcs,description,screenshots,videos,related_products,changelog".format(product.id) | makeanchor}}
        </span>
      </td>
    </tr>
    <tr>
      <td class="table-prop">Store API</td>
      <td>
        <span class="force-overflow">
          {{ "https://api.gog.com/v2/games/{}".format(product.id) | makeanchor}}
        </span>
      </td>
    </tr>
    <tr>
      <td class="table-prop">Store API V1 (deprecated)</td>
      <td>
        <span class="force-overflow">
          {{ "https://api.gog.com/v1/games/{}".format(product.id) | makeanchor}}
        </span>
      </td>
    </tr>
    <tr>
      <td class="table-prop">Galaxy GamesDB</td>
      <td>
        <span class="force-overflow">
          {{ "https://gamesdb.gog.com/platforms/gog/external_releases/{}".format(product.id) | makeanchor}}
        </span>
      </td>
    </tr>
    <tr>
      <td class="table-prop">Builds Windows</td>
      <td>
        <span class="force-overflow">
          {{ "https://content-system.gog.com/products/{}/os/windows/builds?generation=2".format(product.id) | makeanchor }}
        </span>
      </td>
    </tr>
    <tr>
      <td class="table-prop">Builds macOS</td>
      <td>
        {% if "osx" in product.cs_systems %}
        <span class="force-overflow">
          {{ "https://content-system.gog.com/products/{}/os/osx/builds?generation=2".format(product.id) | makeanchor }}
        </span>
        {% else %}
        Unavailable
        {% endif %}
      </td>
    </tr>
    <tr>
      <td class="table-prop">GOG DB data</td>
      <td>
        <span class="force-overflow">
          <a href="{{ '/data/products/{}'.format(product.id) }}">{{ "https://www.gogdb.org/data/products/{}".format(product.id) }}</a>
        </span>
      </td>
    </tr>
  </table>

  {% if product.sale_rank > 0 %}
  <h2>Third Party Sites</h2>
  <table class="shadow cellborder">
    <tr>
      <td>PCGamingWiki</td>
      <td>{{ "https://pcgamingwiki.com/api/gog.php?page={}".format(product.id) | makeanchor }}</td>
    </tr>
  </table>
  {% endif %}
</div>

<div id="tab-references" class="tab">
  {% if not (referenced_products.dlcs or referenced_products.includes_games or referenced_products.is_included_in or referenced_products.required_by or referenced_products.requires) %}
  <div class="textbox shadow">
    No references to other games.
  </div>
  {% endif %}

  {% if referenced_products.dlcs %}
  <h2>DLCs</h2>

  {{ product_table(referenced_products.dlcs) }}
  {% endif %}

  {% if referenced_products.includes_games %}
  <h2>Included games</h2>

  {{ product_table(referenced_products.includes_games) }}
  {% endif %}

  {% if referenced_products.is_included_in %}
  <h2>Included in</h2>

  {{ product_table(referenced_products.is_included_in) }}
  {% endif %}

  {% if referenced_products.required_by %}
  <h2>Required by</h2>

  {{ product_table(referenced_products.required_by) }}
  {% endif %}

  {% if referenced_products.requires %}
  <h2>Requires</h2>

  {{ product_table(referenced_products.requires) }}
  {% endif %}
</div>

<div id="tab-downloads" class="tab">
  {% if not (product.dl_installer or product.dl_langpack or product.dl_patch or product.dl_bonus) %}
  <div class="textbox shadow">
    No downloads available.
  </div>
  {% endif %}

  {% macro softwaretable(downloads) %}
  <table class="shadow cellborder">
    <tr>
      <th class="dl-name">Name</th>
      <th class="dl-os">OS</th>
      <th class="dl-lang">Language</th>
      <th class="dl-size">Size</th>
      <th class="dl-version">Version</th>
    </tr>
    {% for download in downloads %}
    <tr>
      <td>{{ download.name }}</td>
      <td>{{ download.os | os_icon }}</td>
      <td>{{ download.language.name }}</td>
      <td>{{ download.total_size | filesizeformat }}</td>
      <td>{{ download.version | default('N/A', true) }}</td>
    </tr>
    {% endfor %}
  </table>
  {% endmacro %}

  {% if product.dl_installer %}
  <h2>Installers</h2>

  {{ softwaretable(product.dl_installer) }}
  {% endif %}

  {% if product.dl_langpack %}
  <h2>Language packs</h2>

  {{ softwaretable(product.dl_langpack) }}
  {% endif %}

  {% if product.dl_patch %}
  <h2>Patches</h2>

  {{ softwaretable(product.dl_patch) }}
  {% endif %}

  {% if product.dl_bonus %}
  <h2>Bonus content</h2>
  <table id="downloads-bonus" class="shadow cellborder">
    <tr>
      <th class="dl-name">Name</th>
      <th class="dl-category">Type</th>
      <th class="dl-size">Size</th>
      <th class="dl-count">Count</th>
    </tr>
    {% for download in product.dl_bonus %}
    <tr>
      <td>{{ download.name | title }}</td>
      <td>{{ download.bonus_type | bonus_type }}</td>
      <td>{{ download.total_size | filesizeformat}}</td>
      <td>{{ download.count }}</td>
    </tr>
    {% endfor %}
  </table>
  {% endif %}
</div>

<div id="tab-builds" class="tab">
  <h2>Builds</h2>

  {% if product.builds %}
  <table id="builds-table" class="shadow cellborder">
    <tr>
      <th>Build ID</th>
      <th>OS</th>
      <th>Version</th>
      <th>Date</th>
      <th>Gen</th>
      <th>Repository ID</th>
    </tr>
    {% for build in product.builds | reverse %}
    <tr>
      <td><a href="{{ url_for('build', prod_id=product.id, build_id=build.id) }}">{{ build.id }}</a></td>
      <td>{{ build.os | os_icon }}</td>
      <td>{{ build.version | default("N/A", true) }}</td>
      <td>{{ build.date_published | datetime_day }}</td>
      <td>{{ build.generation }}</td>
      {% if build.generation == 1 %}
      <td class="mono">{{ build.legacy_build_id }}</td>
      {% else %}
      <td class="mono">{{ build.meta_id }}</td>
      {% endif %}
    </tr>
    {% endfor %}
  </table>
  {% else %}
  <div class="textbox shadow">
    No builds available.
  </div>
  {% endif %}
</div>

<div id="tab-media" class="tab">
  {% if not (product.screenshots or product.videos) %}
  <div class="textbox shadow">
    No media files available.
  </div>
  {% endif %}

  {% if product.screenshots %}
  <h2>Screenshots</h2>

  <div id="screen-container">
    {% for image in product.screenshots %}
    <a class="screen-item no-underline" href="{{ image | gog_image('.jpg') }}">
      <img class="screen-thumb" src="{{ image | gog_image('_ggvgm.jpg') }}" alt="Screenshot {{ loop.index }}">
    </a>
    {% endfor %}
  </div>
  {% endif %}

  {% if product.videos %}
  <h2>Videos</h2>

  <div id="video-container">
    {% for video in product.videos %}
    {% if video.provider == "youtube" %}
    <a class="video-item no-underline" href="https://www.youtube.com/watch?v={{ video | videoid }}">
      <img class="video-thumb" src="https://img.youtube.com/vi/{{ video | videoid }}/mqdefault.jpg" alt="Video {{ loop.index }}">
    </a>
    {% endif %}
    {% endfor %}
  </div>
  {% endif %}
</div>

<div id="tab-changelog" class="tab">
  <h2>Changelog</h2>

  {% if changelog %}
  <table class="shadow rowborder">
    {% for record in changelog | reverse %}
    <tr>
      <td class="col-change-icon">
        {% if record.action == "add" %}
          <i class="fa fa-plus color-add" aria-hidden="true"></i>
          <span class="nocss">+</span>
        {% elif record.action == "del" %}
          <i class="fa fa-minus color-del" aria-hidden="true"></i>
          <span class="nocss">-</span>
        {% elif record.action == "change" %}
          <i class="fa fa-circle color-change" aria-hidden="true"></i>
          <span class="nocss">o</span>
        {% endif %}
      </td>
      <td class="col-change-desc">
        {{ format_record(record) }}
      </td>
      <td class="col-change-date">
        {{ record.timestamp | datetime_day }}
      </td>
    </tr>
    {% endfor %}
  </table>
  {% else %}
  <div class="textbox shadow">
    No changelog entries.
  </div>
  {% endif %}
</div>

{% endblock content %}
