{% extends "base.html" %}

{% from "changelog_format.html" import format_record %}

{% set title %}{{ product.title | default("Unknown", true) }}{% endset %}

{% block js %}
{% assets "js-prodinfo" %}
<script type="text/javascript" src="{{ ASSET_URL }}"></script>
{% endassets %}
<script type="application/json" id="pricehistory-json">
  {{ pricehistory | tojson | safe }}
</script>
{% endblock js %}

{% block content %}
<h1>{{ title }}</h1>
{% if product.title is none %}
<div class="textbox shadow">
  No information available. Something referenced this ID but we
  currently don't have access to its data.
</div>
{% else %}
<div id="info-container">
  <div id="info-container-left">
    <table id="info-table" class="shadow cellborder">
      <tr>
        <td>Product ID</td>
        <td>{{ product.id }}</td>
      </tr>
      <tr>
        <td>Slug</td>
        <td>{{ product.slug }}</td>
      </tr>
      <tr>
        <td>Product Type</td>
        <td>{{ product.product_type_name }}</td>
      </tr>
      <tr>
        <td>Access</td>
        <td>{{ ["Private", "Unlisted", "Public"][product.access] }}</td>
      </tr>
      <tr>
        <td>Supported Sytems</td>
        <td>{{ product.systems | os_icons }}</td>
      </tr>
      {% if product.base_prod_id is not none %}
      <tr>
        <td>Base Product</td>
        <td>
          <a class="hoveronly" href="{{ url_for('product_info', prod_id=product.base_prod_id) }}">
            ({{ product.base_prod_id }}) {{ product.base_product.title }}
          </a>
        </td>
      </tr>
      {% endif %}
      {% if product.developer is not none %}
      <tr>
        <td>Developer</td>
        <td>{{ product.developer.name }}</td>
      </tr>
      {% endif %}
      {% if product.publisher is not none %}
      <tr>
        <td>Publisher</td>
        <td>{{ product.publisher.name }}</td>
      </tr>
      {% endif %}
      {% if product.release_date %}
      <tr>
        <td>Release Date</td>
        <td>{{ product.release_arrow.format("MMMM D, YYYY") }} ({{ product.release_arrow.humanize() }})</td>
      </tr>
      {% endif %}
    </table>
  </div>
  <div id="info-container-right">
    {% if product.image_logo %}
    <img id="product-logo" class="shadow" src="{{ product.image_logo | gog_image('_ggvgm.jpg') }}" alt="">
    {% else %}
    <img id="product-logo" class="shadow" src="{{ url_for('static', filename='img/no_logo_1600x900.svg') }}" alt="">
    {% endif %}
    {% if product.access >= 2 %}
    <a id="store-button" class="btn-gog" href="https://www.gog.com/game/{{ product.slug }}">
      Store Page
    </a>
    {% endif %}
  </div>
</div>

{% if product.access == 0 %}
<div class="textbox shadow">
  <strong>
    This product can't currently be accessed, so the data might be outdated!
  </strong>
</div>
{% endif %}

<div id="tabs-container" class="shadow">
  <a href="#prices" class="tabs-item no-underline">Prices</a>
  <a href="#details" class="tabs-item no-underline">Details</a>
  <a href="#downloads" class="tabs-item no-underline">Downloads</a>
  <a href="#media" class="tabs-item no-underline">Media</a>
  <a href="#changelog" class="tabs-item no-underline">Changelog</a>
</div>

<div id="tab-prices" class="tab">
  <h2>Prices</h2>

  {% if priceframes %}
  <div id="chart-container">
    <canvas id="chart-canvas" class="shadow"></canvas>
  </div>
  <table class="shadow cellborder">
    <tr>
      <th>Start</th>
      <th>End</th>
      <th>Base</th>
      <th>Final</th>
      <th>Discount</th>
    </tr>
    {% for price in priceframes %}
    <tr>
      <td>{{ price.start.format("MMMM D, YYYY") }}</td>
      <td>{{ price.end.format("MMMM D, YYYY") }}</td>
      {% if price.price_base is none or price.price_final is none %}
      <td>-</td>
      <td>-</td>
      <td>-</td>
      {% else %}
      <td>${{ price.price_base }}</td>
      <td>${{ price.price_final }}</td>
      {% if price.discount > 0 %}
      <td>{{ price.discount }}%</td>
      {% else %}
      <td>-</td>
      {% endif %}
      {% endif %}
    </tr>
    {% endfor %}
  </table>
  {% else %}
  <div class="textbox shadow">
    No price data available.
  </div>
  {% endif %}
</div>

<div id="tab-details" class="tab">
  <h2>Details</h2>

  <table class="shadow cellborder">
    {% if product.genres %}
    <tr>
      <td>Genres</td>
      <td>{{ product.genres | comma_attr("name") }}</td>
    </tr>
    {% endif %}
    <tr>
      <td>Languages</td>
      <td>{{ product.languages | comma_attr("isocode") | upper }}</td>
    </tr>
    {% if product.features %}
    <tr>
      <td>Features</td>
      <td>{{ product.features | comma_attr("name") }}</td>
    </tr>
    {% endif %}
    <tr>
      <td>Secret</td>
      <td>{{ product.is_secret | yes_no }}</td>
    </tr>
    <tr>
      <td>Price visible</td>
      <td>{{ product.is_price_visible | yes_no }}</td>
    </tr>
    <tr>
      <td>Reviews enabled</td>
      <td>{{ product.can_be_reviewed | yes_no }}</td>
    </tr>
    <tr>
      <td>Content system compatibility</td>
      {% if product.cs_systems %}
      <td>{{ product.cs_systems | os_icons }}</td>
      {% else %}
      <td>Incompatible</td>
      {% endif %}
    </tr>
    <tr>
      <td>Coming soon</td>
      <td>{{ product.is_coming_soon | yes_no }}</td>
    </tr>
    <tr>
      <td>Pre-order</td>
      <td>{{ product.is_pre_order | yes_no }}</td>
    </tr>
    <tr>
      <td>Development active</td>
      <td>{{ product.development_active | yes_no }}</td>
    </tr>
  </table>

  <h2>Links</h2>

  <table class="shadow cellborder">
    {% if product.access >= 2 %}
    <tr>
      <td class="table-prop">Product page</td>
      <td>
        <span class="force-overflow">
          <a href="https://www.gog.com/game/{{ product.slug }}">
            https://www.gog.com/game/{{ product.slug }}
          </a>
        </span>
      </td>
    </tr>
    {% endif %}
    <tr>
      <td class="table-prop">Forum</td>
      <td>
        <span class="force-overflow">
          <a href="https://www.gog.com/forum/{{ product.forum_id }}">
            https://www.gog.com/forum/{{ product.forum_id }}
          </a>
        </span>
      </td>
    </tr>
    {% if product.image_background %}
    <tr>
      <td class="table-prop">Background image</td>
      <td>
        <span class="force-overflow">
          <a href="https://images.gog.com/{{ product.image_background }}.jpg">
            https://images.gog.com/{{ product.image_background }}.jpg
          </a>
        </span>
      </td>
    </tr>
    {% endif %}
    {% if product.image_logo %}
    <tr>
      <td class="table-prop">Logo image</td>
      <td>
        <span class="force-overflow">
          <a href="https://images.gog.com/{{ product.image_logo }}.jpg">
            https://images.gog.com/{{ product.image_logo }}.jpg
          </a>
        </span>
      </td>
    </tr>
    {% endif %}
    {% if product.image_icon %}
    <tr>
      <td class="table-prop">Icon</td>
      <td>
        <span class="force-overflow">
          <a href="https://images.gog.com/{{ product.image_icon }}.png">
            https://images.gog.com/{{ product.image_icon }}.png
          </a>
        </span>
      </td>
    </tr>
    {% endif %}
    <tr>
      <td class="table-prop">Galaxy API</td>
      <td>
        <span class="force-overflow">
          <a href="https://api.gog.com/products/{{ product.id }}?expand=downloads,expanded_dlcs,description,screenshots,videos,related_products,changelog">
            https://api.gog.com/products/{{ product.id }}?expand=downloads,expanded_dlcs,description,screenshots,videos,related_products,changelog
          </a>
        </span>
      </td>
    </tr>
    {% if product.access >= 2 %}
    <tr>
      <td class="table-prop">gogData</td>
      <td>
        <span class="force-overflow">
          <a href="{{ url_for('gogdata', slug=product.slug, _external=True) }}">
            {{ url_for('gogdata', slug=product.slug, _external=True) }}
          </a>
        </span>
      </td>
    </tr>
    {% endif %}
  </table>

  {% if product.dlcs %}
  <h2>DLCs</h2>

  <table id="dlc-table" class="shadow rowborder">
    <tr>
      <th></th>
      <th>ID</th>
      <th>Name</th>
    </tr>
    {% for dlc_prod in product.dlcs %}
    <tr>
      <td class="col-thumb">
        <a href="{{ url_for('product_info', prod_id=dlc_prod.id) }}">
          {% if dlc_prod.image_logo %}
          <img class="img-thumb" src="{{ dlc_prod.image_logo | gog_image('_196.jpg') }}" alt="">
          {% else %}
          <img class="img-thumb" src="{{ url_for('static', filename='img/no_logo_1600x900.svg') }}" alt="">
          {% endif %}
        </a>
      </td>
      <td class="col-id">
        <a href="{{ url_for('product_info', prod_id=dlc_prod.id) }}" class="hoveronly">
          {{ dlc_prod.id }}
        </a>
      </td>
      <td class="col-name">
        <a href="{{ url_for('product_info', prod_id=dlc_prod.id) }}" class="hoveronly">
          {{ dlc_prod.title }}
        </a>
      </td>
    </tr>
    {% endfor %}
  </table>
  {% endif %}
</div>


<div id="tab-downloads" class="tab">
  <h2>Downloads</h2>

  {% if product.valid_downloads %}
  {% if product.valid_installers %}
  <table class="shadow cellborder">
    <tr>
      <th class="dl-name">Name</th>
      <th class="dl-os">OS</th>
      <th class="dl-lang">Language</th>
      <th class="dl-type">Type</th>
      <th class="dl-size">Size</th>
      <th class="dl-version">Version</th>
    </tr>
    {% for download in product.valid_installers %}
    {% for dlfile in download.valid_files %}
    <tr>
      <td>
        <a href="https://www.gog.com/downlink/{{ product.slug }}/{{ dlfile.slug }}">
          {{ download.name }}
          {% if loop.length > 1 %}
          (Part {{ loop.index }} of {{ loop.length }})
          {% endif %}
        </a>
      </td>
      <td>{{ download.os | os_icon }}</td>
      <td>{{ download.language_name }}</td>
      <td>{{ download.type_name }}</td>
      <td>{{ dlfile.size | filesizeformat }}</td>
      <td>{{ download.version | default('N/A', true) }}</td>
    </tr>
    {% endfor %}
    {% endfor %}
  </table>
  {% endif %}

  {% if product.valid_bonus %}
  <table id="downloads-bonus" class="shadow cellborder">
    <tr>
      <th class="dl-name">Name</th>
      <th class="dl-category">Category</th>
      <th class="dl-type">Type</th>
      <th class="dl-size">Size</th>
      <th class="dl-count">Count</th>
    </tr>
    {% for download in product.valid_bonus %}
    {% for dlfile in download.valid_files %}
    <tr>
      <td>
        <a href="https://www.gog.com/downlink/file/{{ product.slug }}/{{ dlfile.slug }}">
          {{ download.name | title }}
        </a>
      </td>
      <td>{{ download.bonus_type_name }}</td>
      <td>{{ download.type_name }}</td>
      <td>{{ dlfile.size | filesizeformat}}</td>
      <td>{{ download.count }}</td>
    </tr>
    {% endfor %}
    {% endfor %}
  </table>
  {% endif %}
  {% else %}
  <div class="textbox shadow">
    No downloads available.
  </div>
  {% endif %}
</div>

<div id="tab-media" class="tab">
  {% if not (product.screenshots or product.videos) %}
  <div class="textbox shadow">
    No media files available.
  </div>
  {% endif %}

  {% if product.screenshots %}
  <h2>Screenshots</h2>

  <div id="screen-container">
    {% for image in product.screenshots %}
    <a class="screen-item no-underline" href="https://images.gog.com/{{ image.image_id }}.jpg">
      <img class="screen-thumb" src="{{ image.image_id | gog_image('_ggvgm.jpg') }}" alt="Screenshot {{ loop.index }}">
    </a>
    {% endfor %}
  </div>
  {% endif %}

  {% if product.videos %}
  <h2>Videos</h2>

  <div id="video-container">
    {% for video in product.videos %}
    <a class="video-item no-underline" href="https://www.youtube.com/watch?v={{ video.video_id }}">
      <img class="video-thumb" src="https://img.youtube.com/vi/{{ video.video_id }}/mqdefault.jpg" alt="Video {{ loop.index }}">
    </a>
    {% endfor %}
  </div>
  {% endif %}
</div>

<div id="tab-changelog" class="tab">
  <h2>Changelog</h2>

  {% if product.changes %}
  <table class="shadow rowborder">
    {% for record in product.changes %}
    <tr>
      <td class="col-change-icon">
        {% if record.action == "add" %}
          <i class="fa fa-plus color-add" aria-hidden="true"></i>
          <span class="nocss">+</span>
        {% elif record.action == "del" %}
          <i class="fa fa-minus color-del" aria-hidden="true"></i>
          <span class="nocss">-</span>
        {% elif record.action == "change" %}
          <i class="fa fa-circle color-change" aria-hidden="true"></i>
          <span class="nocss">o</span>
        {% endif %}
      </td>
      <td class="col-change-desc">
        {{ format_record(record) }}
      </td>
      <td class="col-change-date">
        {{ record.timestamp.strftime("%Y-%m-%d") }}
      </td>
    </tr>
    {% endfor %}
  </table>
  {% else %}
  <div class="textbox shadow">
    No changelog entries.
  </div>
  {% endif %}
</div>
{% endif %}

{% endblock content %}
